/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --lime: #32cd32;
}
#root{width:100%;height: 100%;}
/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--darkgray);
  background-color: var(--white);
  width:100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home a {
  color:black!important;
  background-color:var(--lime);
  padding:0.1em 0.6em 0.1em 0.6em;
  border-radius: 0.3em;
}
.icons{
  float:right;
  margin-right: 1em;
  margin-top: 0.5em;
  opacity: 0.7;
  min-height: 2em;
}
.icons a {
  min-height: 2em;
  min-width: 2em;
}
.giticon >img {
  padding: 0.4em;
  height: 3em;
  min-height: 3em;
  min-width: 3em;
}
.npm{
  max-height: 2em;
  position: relative;
  top: -0.4em;
  height: 2em;
  min-height: 3em;
  min-width: 3em;
}
#framesandbox{
  margin-top: 1em;
}
#iframebtn {
  border:none;
  cursor: pointer;
  line-height: 1em;
  background-color:var(--blue);
  padding: 0.7em;
  font-weight: bold;
  color:var(--white);
  border-radius: 0.3em;
  box-shadow: 1px 3px 5px #333;
}

.codesvg{
  height: 1em;
  width: 1em;
  margin-left:1em

}
blockquote{
  font-size: 1.8em;
  border-left: 8px solid #333;
  padding-left: 1em;
  color: var(--blue);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-doc li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-doc li {
  line-height: 1.45;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}
main {
  padding: 1rem;
  float: left;
  height:100%;
  width:100%;
  float: left;
}
.docsH1{
  text-align: center;
  width:80%;
  float: right;
}
main :first-child {
  margin-top: 0;
}
.side{
  width:20%;
  left: 0;
  height:100%;
  width:20%;
  float: left;
  padding: 1em;
}
.side >ul{
  list-style: none;
  margin-left: -1em;
}
.side >ul>li{
  padding-bottom: 0.5em;
}
.side >ul>li>a{
  text-decoration: none;
}

.side >ul>li .active {
  text-decoration: underline;
}


.side >ul>li>a:hover{
  border-bottom: solid 1px var(--lime);
}





.topDocs {
  float: right;
  width:80%;
  padding-left: 1em;
}
.markdownContent {
  float: left;
  width:80%;
  padding: 1em;
}
.docspager{
  float: right;
  width:80%;
  padding-left: 1em;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
footer{
padding: 2em;
opacity: 0.8;
margin-top: auto;
}

table {
  margin: 1em 0;
 
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* docs list */
.doclist {
  list-style: none;
  padding: 0;
}
.doclist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.doclist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.doclist-date,
.doclist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.doclist-date {
  word-spacing: -0.5px;
}
.doclist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.doclist-item-active .doclist-link {
  font-weight: bold;
}
.tmpl-home .doclist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.doc-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].doc-tag,
a[href].doc-tag:visited {
  color: inherit;
}
a[href].doc-tag:hover,
a[href].doc-tag:focus {
  background-color: var(--lightgray);
}
.doclist-item > .doc-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
.example{
  width:96%;height: 100%;
  margin: 0 auto;
}