/* Colors */
:root {
  --text-color: #17050F;
  /* White Smoke */
  --body-bg: #f5f5f5;
  /* lime */
  --accent-bg: #32cd32;
  --border: #333;
  /* blue */
  --blockquote: #082840;
  /* navy */
  --linkText: #17050F;

  --body-bg-200: #ccc;
  --btn-seconday:#0096c3;
  --lightgray: #e0e0e0;
  --filter:invert(0);
}

.dark_mode{
  --body-bg: #252525;
  --border: #ccc;
  /* blue */
  --blockquote: #b9d0e2;
  /* navy */
  --linkText: #e9e9e9;
  --text-color:#f5f5f5;
  --body-bg-200: #333;
  --btn-seconday:#03485e;
  --filter:invert(1);
}
#theme_toggler{
  position: absolute;
  right: 5%;
  background: var(--btn-seconday);
  padding: 0.3em;
  border-radius:0.5em;
  color: var(--linkText);
  cursor: pointer;
  top:1em;
  right:5em;
}

#root{width:100%;height: 100%;}
/* Global stylesheet */
* {
  box-sizing: border-box;
}

html{
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg);
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.05s;
}
.dark_mode{
  --body-bg: #252525;
  --card-bg: #555;
  --card-bd-col: #212121;
  --text-color:#f5f5f5;
}

.home a {
  color:black!important;
  background-color:var(--accent-bg);
  padding:0.1em 0.6em 0.1em 0.6em;
  border-radius: 0.3em;
}
.icons{
  float:right;
  margin-right: 1em;
  margin-top: 0.5em;
  opacity: 0.7;
  min-height: 2em;
}
.icons a {
  min-height: 2em;
  min-width: 2em;
}
.giticon >img {
  padding: 0.4em;
  height: 3em;
  min-height: 3em;
  min-width: 3em;
  filter:var(--filter)
}
.npm{
  max-height: 2em;
  position: relative;
  top: -0.4em;
  height: 2em;
  min-height: 3em;
  min-width: 3em;
}
#framesandbox{
  margin-top: 1em;
}
#iframebtn {
 border:0; 
 border-radius: 4px;
 overflow:hidden;
 margin-right: 0.4em;
}
#frame {
  width: 98.5%;
  height: 930px;
}



.codesvg{
  height: 1em;
  width: 1em;
  margin-left:1em

}
blockquote{
  font-size: 1.8em;
  border-left: 8px solid var(--border);
  padding-left: 1em;
  color: var(--blockquote);
}
p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-doc li,
img {
  max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-doc li {
  line-height: 1.45;
}
a[href] {
  color: var(--blockquote);
}
a[href]:visited {
  color: var(--linkText);
}
main {
  padding: 1rem;
  float: left;
  width:100%;
}
.docsH1{
  text-align: center;
  width:80%;
  float: right;
}
main :first-child {
  margin-top: 0;
}
.side{
  width:20%;
  left: 0;
  height:100%;
  width:20%;
  float: left;
  padding: 1em;
}
.side >ul{
  list-style: none;
  margin-left: -1em;
}
.side >ul>li{
  padding-bottom: 0.5em;
}
.side >ul>li>a{
  text-decoration: none;
}

.side >ul>li .active {
  text-decoration: underline;
}


.side >ul>li>a:hover{
  border-bottom: solid 1px var(--accent-bg);
}

.docwrapper{
  min-height: 900px;
 
}



.topDocs {
  float: right;
  width:80%;
  padding-left: 1em;
}
.markdownContent {
  float: left;
  width:80%;
  padding: 1em;
}
.docspager{
  float: right;
  width:100%;
  padding-left: 1em;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
header:after {
  content: "";
  display: table;
  clear: both;
}
footer{
padding: 2em;
opacity: 0.8;
margin-top: auto;
}

table {
  margin: 1em 0;
 
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  box-shadow: 2px 3px 5px var(--body-bg-200);
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* docs list */
.doclist {
  list-style: none;
  padding: 0;
}
.doclist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
}
.doclist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.doclist-date,
.doclist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.doclist-date {
  word-spacing: -0.5px;
}
.doclist-link {
  padding-left: .25em;
  padding-right: .25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.doclist-item-active .doclist-link {
  font-weight: bold;
}
.tmpl-home .doclist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
code{
  position: relative;
  cursor: pointer;
}
code::before {
  content: url('../img/clipbard.svg');
  position: relative;
  float: right;
  right: 1em;
  background-color: var(--body-bg-200);
  border-radius: 0.4em;
  width:2em;
  min-height: 2.2em;
}


.flash {
  transition: 0.2s;
  box-shadow: 0px 0px 0px blue;
}
.flash:before {
  content: url('../img/clipboard-check.svg');
  color: #fff;
  /*font-family: sans-serif;*/
}

/* Tags */
.doc-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.6875em; /* 11px /16 */
  padding: 0.09090909090909em 0.3636363636364em; /* 1px 4px /11 */
  margin-left: 0.8em; /* 8px /10 */
  color: var(--darkgray);
  border: 1px solid var(--text-color);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].doc-tag,
a[href].doc-tag:visited {
  color: inherit;
}
a[href].doc-tag:hover,
a[href].doc-tag:focus {
  background-color: var(--body-bg-200);
}
.doclist-item > .doc-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}
.example{
  width:96%;height: 100%;
  margin: 0 auto;

}

/* This is for Safari 4.0 - 8.0 */
@-webkit-keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 5px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -10px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}
@keyframes bounce {
  0% {
    transform: scale(1,1) translate(0px, 0px);
  }
  
  30%{
    transform: scale(1,0.8) translate(0px, 3px); 
  }

  75%{
    transform: scale(1,1.1) translate(0px, -6px); 
  }
  
 100% {
    transform: scale(1,1) translate(0px, 0px);
  }
}
.bounce {
animation: bounce 0.75s ;
position: relative;
top:0.5em;
left: 1em;
-webkit-animation: bounce 0.75s ;
}
.bounce:hover{
  cursor: pointer;
  color: #902f2f;
}
#sandboxtext{
  align-items: center;
  vertical-align: text-top;
  position: relative;
  left: 1.2em;
}

.utterancesDiv{
  background-color: #333;
    border-radius: 0.3em;
    margin-bottom: 2em;
}
.utterances{
  height: 170px;
  width: 100%;
  max-width: 98%;
}

.bouncebtn{
background-color: steelblue;
height: 3em;
color:#ededed;
width:10em;
box-shadow: 1px 2px 3px #333;
border-radius: 0.3em;
}