
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

a { text-decoration: none;}


#___gatsby #gatsby-focus-wrapper {
  height: 100%;
}

/**
 * Add back the container background-color, border-radius, padding, margin
 * and overflow that we removed from <pre>.
 */
.gatsby-highlight {
  background-color: #333;
  border-radius: 0.3em;
  margin: 2em 0 2em 0;
  margin-top: 1em;
  padding: 1em;
  overflow: auto;
}

blockquote {
  margin-left: 0em;
  border-left: 8px solid #610909;
  padding: 1em;
  font-size: 1.4em;
  box-shadow: 1px 3px 5px #ccc;
  color: #610909;
}
/**
 * Remove the default PrismJS theme background-color, border-radius, margin,
 * padding and overflow.
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .gatsby-highlight.
 * 3. Adjust the position of the line numbers
 */
.gatsby-highlight pre[class*="language-"] {
  background-color: transparent;
  margin: 0;
  padding: 0;
  overflow: initial;
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.forkme{
  position: absolute;
  right: 0;
  top:3.5em;
  z-index: 10;
}

/* layout & nav */
.layout {
  width:100%;
  margin: 0 auto;
  height:100%;
}
.titleContent {
  height: 100%;
}
nav {
  padding-bottom: 0.5rem;
  margin: 2.2em auto;

}
nav .links {
  text-align: right;
  background-color: black;
  float: right;
  position: relative;
  top: -2.5em;
  height: 2.5em;
  }
nav a {
  /* display: inline-block; */
  margin-left: 20px;
  /* font-weight: 400; */
  /* padding-bottom: 8px; */
  border-bottom: 3px solid transparent;
  color: white;
}
nav a:hover {
  border-color: white;
}
footer {
  text-align: center;
  margin-bottom: -1rem;
}
footer p{
  color: #463940;
  width:100%;
}
.content {
  height: 100%;
  width:100%;
}
.content p {
  font-size:1.5em;
}
.tabletitle{
  padding: 1em;
  background-color: rgb(224, 224, 224);
  width:100%;
  height: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
.tablecss {
  padding: 2em;
  max-width: 80%;
  display: block;
  margin: 0 auto;
}


.tablecss table>tbody>tr>td>div>img{
height: 4em;
}
 /* styling the pager would again require passing lots of classes and 
custom options, that can make config difficult
for the sake of simplicity the pager is buit using standard css  */
/* move the pager left or right by chaging float left/right */
.pager {
  float: left;
  margin: 0 auto;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
.pager > * {
   color: #eee;
   float: left;
   margin: 0 auto;
 
}
.pager {
  line-height: 1.8rem;
  margin-top: 0.5rem;
  padding: 0.4rem;
  min-height: 2.4em;
  border-radius: 0.3em;
}

.pager input {
   border: 1px solid #666;
   margin: 0 0.4rem 0 0.4rem;
   color: #666;
   border-radius: 0.3rem;
}
/* current page no */
.pager input[type='number']{
   position: relative;
   max-width: 3em;
   height: 2em;
   padding-left: 0.4rem;
   box-shadow: 1px 3px 3px 0 #e2e2e2;
} 
.pager button {
   position: relative;
   font-size: 1.5em;
   padding:0rem 0.8rem 0.2rem 0.8rem;
   margin: 0 0.3rem 0 0.6rem;
   border-radius: 0.3rem;
   border:none;
   color:#333;
   box-shadow: 1px 3px 3px 0 #e2e2e2;
}
.pager button:hover::after {
  position: absolute;
  opacity: 0.5;
  border-radius: 0.3em;
  font-size: 0.8em;
  padding-left: 0.5em;
  padding: em 0.4em 0.3em 0em;
  padding-right: 0.5em;
  background-color: rgb(44, 44, 44);
  top: 1e;
  top: 1.4em;
  line-height: 1.4em;
  color: #eee;
  content: attr(data-content);
  z-index: 100;
}

 .pager button:hover{
   background-color: #e6ffff
}
.tablecss .pager button:focus {
   outline: none;

}

/* targets number of pages without classname numberOfPages */
.pager :nth-child(6){
   position: relative;
   top:0.1rem;
   font-size: 1rem;
   padding:  0 1rem 0 1rem;
   color:#333;
}
/* targets the last item show page count */
.pager :nth-child(7) span {
   top:0.2rem;
}
/* show select element 10 / 20 / 100 etc */
.pager :nth-child(7) select {
  min-height: 2.2em;
  position: relative;
  /* top: 0.15rem; */
  margin-right: 0.7rem;
  border-radius: 0.3rem;
  padding-left: 0.3rem;
  box-shadow: 1px 3px 3px 0 #e2e2e2;
}
/*  move the search input left or right by chaging float left/right */
.searchInputCss span {
   float: right;
   margin-bottom: 0.3rem;
}
.searchInputCss  input {
   border-radius: 0.3rem;
   outline: none !important;
   border: solid 1px rgb(36, 36, 39);
   padding: 0.3rem;
}
.searchInputCss  input:focus {
   outline: none !important;
   border: solid 1px #d3d3d3;
}

.pager button:disabled,
button[disabled]{
 background-color: #cccccc;
 color: #666666;
 box-shadow:0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719) ;
}