@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body{
 
  font-family: 'Oxygen', sans-serif;
}
a { text-decoration: none;}


#___gatsby #gatsby-focus-wrapper {
  height: 100%;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  max-width: 1200px;
  margin: 0 auto;
  height:100%;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0.5rem;
  margin: 2.2em auto;
 
}
nav .links {
  display: inline-block;
  text-align: right;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color:white;

}
nav a:hover {
  border-color: white;
}
footer {
  text-align: center;
  margin-bottom: -1rem;
}
footer p{
  color: #463940;
  width:100%;
}
.content {
  height: 100%;
}

.tablecss {
  padding: 1rem;
}
.tablecss table {
  font-family: 'Arial';
  table-layout: fixed;
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid #00cccc;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
 }
 .tablecss tr>td>div>img{
   max-height: 4em;
 }

 .tablecss table tr:hover {
  background: #f4f4f4;
 }
 .tablecss table tr:hover td {
  color: #555;
 }
 .tablecss table th, .tablecss table td {
  color: #999;
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
 }
 .tablecss table th {
  background: #00cccc;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
 }
 .tablecss table th.last {
  border-right: none;
 }

 /* styling the pager would again require passing lots of classes and 
custom options, that can make config difficult
for the sake of simplicity the pager is buit using standard css  */
/* move the pager left or right by chaging float left/right */
.pager {
  float: left;
  margin: 0 auto;
}
.pager > * {
   color: #eee;
   float: left;
   margin: 0 auto;
 
}
.pager{
   line-height: 1.8rem;
   margin-top: 0.5rem;
   padding: 0.4rem;
   background-color: rgba(59, 130, 246);
  min-height:3rem;
}

.pager .numberOfPages{
   display: inline-block;
   min-width:10em;
   margin-left: 1rem;
   margin-right: 1rem;
   border-radius: 0.3rem;
   height: 2.15em;
}
.pager input {
   border: 1px solid #666;
   margin: 0 0.4rem 0 0.4rem;
   color: #666;
   border-radius: 0.3rem;
}
/* current page no */
.pager input[type='number']{
   position: relative;
   top:0.1rem;
   max-width: 3em;
   height: 2em;
   padding-left: 0.4rem;
   box-shadow: 1px 3px 3px 0 #2b5b3c;
} 
.pager button {
   position: relative;
   font-size: 1.5em;
   padding:0rem 0.8rem 0.2rem 0.8rem;
   margin: 0 0.3rem 0 0.6rem;
   border-radius: 0.3rem;
   background-color:#00cccc;
   border:none;
   box-shadow: 1px 3px 3px 0 #2b5b3c;
}
.pager button:hover::after {
   position: absolute;
   opacity: 0.8;
   border-radius: 0.3rem;
   font-size: 0.8rem;
   padding-left: 1rem;
   padding-right: 1rem;
   background-color: rgb(44, 44, 44);
   bottom: -2rem;
   color: #eee;
   content: attr(data-content);
}

 .pager button:hover{
   background-color: #00e7e7
}
.tablecss .pager button:focus {
   outline: none;

}
/* targets number of pages without classname numberOfPages */
.pager :nth-child(6){
   position: relative;
   top:0.1rem;
   font-size: 1rem;
   padding:  0 1rem 0 1rem;
   color: #ddd;
}
/* targets the last item show page count */
.pager :nth-child(7) span {
   top:0.2rem;
}
/* show select element 10 / 20 / 100 etc */
.pager :nth-child(7) select {
 min-height: 2.5em;
 position: relative;
 top:0.15rem;
margin-right: 0.7rem;
border-radius: 0.3rem;
padding-left: 0.3rem;
box-shadow: 1px 3px 3px 0 #2b5b3c;
}

/*  move the search input left or right by chaging float left/right */
.searchInputCss span {
   float: right;
   margin-bottom: 0.3rem;
}
.searchInputCss  input {
   border-radius: 0.3rem;
   outline: none !important;
   border: solid 1px rgb(36, 36, 39);
   padding: 0.3rem;
}
.searchInputCss  input:focus {
   outline: none !important;
   border: solid 1px #00cccc;
}

.pager button:disabled,
button[disabled]{
 background-color: #cccccc;
 color: #666666;
 box-shadow:0.02em 0 0.02em 0 rgba(26, 9, 9, 0.719) ;
}