.topnav{
 margin-top:0;
 background-color: #0b172a;
 max-height: 2.6rem;
}
.topnav .toptitle {
    color:#eeeeee;
    padding-left:0.7rem;
    padding-top: 0.2rem;
}
.topnav .toptitle  h4 {
    position: relative;
    color: #888;
    width: 50%;
}
.topnav .toptitle  h6 {
    position: relative;
    top: -2.8em;
    color: rgb(0, 194, 0);
 }

.topnav .links a {
    padding: 0.4rem;
    margin-right: 1rem;
}