.topnav{
 margin-top:0;
 background-color: #0b172a;
}
.topnav .toptitle {
    color:#eeeeee;
    padding-left:0.7rem;
    padding-top: 0.2rem;
    height: 3em;
    position: relative;
    top:1em;
}
.topnav .toptitle  h4 {
    color: #eeeeee;
    padding-left: 0.7rem;
    padding-top: 0.2rem;
    position: relative;
    top: -1em;
}
.topnav .toptitle  h6 {
    position: relative;
    top: -4.5em;
    left: 1.1em;
    color: rgb(0, 194, 0);
 }

.topnav .links a {
    padding: 0.4rem;
    margin-right: 1rem;
}