.portfolio {
  text-align: left;
  height: 100%;
  display: flex;
  margin-top: -2.15em;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.side{
  width:20%;
  max-width:18rem;
  background-color: #222;
  height: 100%;
  height: auto;
  padding-bottom: 50%;
  padding-top:0.5em;
}
.side ul li {
  padding:1rem;
  border-bottom:solid 1px #999;
  cursor: pointer;
  color:#eee;

}
.side ul li span {
  color:eee!important;
  padding:1rem 1rem 1rem 0rem;
}
.side ul li:hover  {
  background-color: #111;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  background-color: rgb(255, 254, 251);
  width: 79%;
  float: right;
  clear: left;
  position: relative;
  padding:1em;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
  color:red;
}
.projects p {
  color:#111;
  margin-top: 4px;
}
